{% extends 'base.html.twig' %}

{% block title %}index /{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
    {#Intégration de l'image l'image#}
    <div class="row img_home">
        <div class="col-3 offset-1 m-5 pt-2 pb-2 text-black rounded shadow-text hometext">Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit. Inventore, maxime. Quibusdam nobis, distinctio harum aperiam tempora inventore, temporibus provident nisi totam laboriosam ab omnis itaque illo voluptatibus. Non, perspiciatis velit.
        Fuga ipsum quisquam non corrupti ex odio sapiente pariatur velit! Modi, expedita.<br><br>
        Sit delectus repudiandae, impedit autem rem dolor dignissimos maiores qui doloremque sequi suscipit tempora exercitationem necessitatibus pariatur totam.
        Neque at quisquam est deserunt assumenda suscipit maxime esse corporis tempore delectus voluptatibus expedita ab sed dicta a, quibusdam accusantium ratione veritatis dolorum harum?<br><br>
        Consectetur neque porro saepe veniam recusandae praesentium? Excepturi, consequatur quam dignissimos magni aperiam, optio esse animi perspiciatis expedita eos cum quos officia non laboriosam blanditiis delectus quod enim, quis cupiditate!Quibusdam accusantium ratione veritatis dolorum harum est.</div>
    </div>
    <div class="row pb-5">
        <p class="col-6 offset-3 pb-5 pt-5 mb-0 border-bottom text-center bottext">Notre collection de voitures classiques comprend des modèles emblématiques mises à votre disposition par des propriétaires passionnés. Grâce à notre sélection, vous trouverez votre voiture partenaire idéale.
        Faites-vous plaisir en découvrant les petites routes de France au volant d’une voiture rare et ancienne.</p>
    </div>
{% endblock %}

{% block javascript %}{% endblock %}


