{% extends 'base.html.twig' %}

{% block title %}index /{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
<div></div>
<div></div>
{% endblock %}

{% block javascript %}{% endblock %}


