{% extends 'base.html.twig' %}

{% block title %}Créez votre nouveau véhicule{% endblock %}

{% block body %}

{# T: si tu veux bien ajouter une belle image de w210 e300td en fond de page #}

<div class="row backcolor">

    <h2 class="col-8 offset-2 mt-5 text-center">Ajout d'un nouveau véhicule</h2>


    <div class="col-6 offset-3">

      {{ form(formVehicle) }}
    </div>
</div>
{% endblock %}