{% extends 'base.html.twig' %}
{% form_theme formVehicle "form_style.html.twig" %}

{% block title %}Ajoutez votre véhicule{% endblock %}

{% block body %}

{# T: si tu veux bien ajouter une belle image de w210 e300td en fond de page #}

<div class="row">

  <div class="col-sm-6 offset-sm-3">
    <h2 class="text-center my-3">Ajout d'un nouveau véhicule</h2>
    {{ form(formVehicle) }}
  </div>

</div>

{% endblock %}
