body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
.active>a{
    color:gold;
}
a:hover{
    background-color: #c08b3a;
    color: black;
}
a:link{
    text-decoration: none;
    color: #c08b3a;
}
#iconcolor:hover{
    background-color: transparent;
    -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
          -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
h1{
    font-family: 'Dancing Script', cursive, Arial, Helvetica, sans-serif;
    color: #c08b3a;
    background-color: #000;
}
h2{
    font-family: 'Dancing Script', cursive, Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    margin-top: 100px;
}
.img_home{
    background-image: url(../images/home_new.jpg);
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;
    background-position: center center;
}
.image_home_register{

  background-position: right;
}
.icon{
    background-image: url(../images/icon_new.jpg);
    background-repeat: no-repeat;
    border-radius: 50%;

}
.hometext{
    height: 500px;
    overflow-y: scroll;
    overflow:auto;
    overflow-x: hidden;
    width: 10px;
}
overflow-y: auto;
.navbar-collapse {
    float: right;
  }
.description{
    text-align: center;
}
p{
    color: white;
}
ul {
    list-style:none;
}
footer{
    padding-top: 0;
    position: relative;
    margin-top: 0;
    margin: 0;
}
.textcolor{
   color: #c08b3a;
}
.cgucolor{
    color: white;
}
.socialicons{
    text-align: center;
}
.fa {
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
.fa-facebook {
    background: #3B5998;
    color: white;
  }
.fa-twitter {
    background: #55ACEE;
    color: white;
  }
.fa-instagram {
    background: #88127e;
    color: white;
  }
#main-navbar .nav-item.active>.nav-link{
    color: #d3b842;
}
.shadow-text{
  background-color: rgba(255, 255, 255, 0.5);
    text-shadow: 2px 4px 4px #fff;
  }
.backcolor{

  background-color: #8f6630;
}
form{
  margin-top: 50px;
 }
.form-control{
  border: 0;
  border-bottom: 1.5px solid rgb(163, 163, 163, .3);
  border-radius: 0;
}
 input{
  /*margin-left: 25%;*/
 }
 .contwidth{
    width: 100%;
 }
 .contcolor{
     background-color: #8f6630;
    background-size: contain;
    height: 600px;
    width: auto;
 }