{% extends 'base.html.twig' %}

{% block title %}error 403{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}

<div class="row">

    <div class="col-12 img_403 vh-100">

        <div class="col-12 col-sm-4 offset-sm-3 bg-info text-center py-2 my-2">
            <h3>ERROR 403 : Accès refusé</h3>
            <p>Le client ne peut pas accéder à la page Web car il n’a pas l’autorisation requise.</p>
        </div>

   </div>

</div>

{% endblock %}
{% block javascript %}{% endblock %}