{% extends 'base.html.twig' %}

{% block title %}error 418{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}

<div class="row">

    <div class="col-12">

        <div class="row bg-info">
            <h3 class="mx-auto my-4">ERREUR 418 : Je suis une théière</h3>
        </div>

        <div class="row bg-info">
            <p class="mx-auto">
                Désolé, la page que vous demandez est une théière.
            </p>
        </div>

    </div>

</div>
<div class="row img_418"></div>

{% endblock %}
{% block javascript %}{% endblock %}