{% extends 'base.html.twig' %}

{% block title %}error 500{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}

<div class="row">

    <div class="col-12 img_500 vh-100">

        <div class="col-12 col-sm-4 offset-sm-3 bg-info text-center py-2 my-2">
            <h3>ERREUR 500 : Erreur server interne</h3>
            <p>Désolé ! Revenez plus tard...</p>
        </div>

   </div>

</div>

{% endblock %}
{% block javascript %}{% endblock %}