{% extends 'base.html.twig' %}

{% block title %}error 418{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}

<div class="row">

    <div class="col-12 img_418 vh-100">

        <div class="col-12 col-sm-4 offset-sm-8 bg-info text-center py-2 my-2">
            <h3>ERREUR 418 : Je suis une théière</h3>
            <p>Désolé, la page que vous demandez est une théière.</p>
            <p>le Youbxri : Je connais le Cpp...</p>
            <p>le Formateur : Montre moi...</p>
        </div>

   </div>

</div>

{% endblock %}
{% block javascript %}{% endblock %}