{% extends 'base.html.twig' %}

{% block title %}error 403{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}

<div class="row">

    <div class="col-12">

        <div class="row bg-info">
            <h3 class="mx-auto my-4">ERROR 403 : Accès refusé</h3>
        </div>

        <div class="row bg-info">
            <p class="mx-auto">
                Le client ne peut pas accéder à la page Web car il n’a pas l’autorisation requise.
            </p>
        </div>

    </div>

</div>
<div class="row img_403"></div>

{% endblock %}
{% block javascript %}{% endblock %}