{% extends 'base.html.twig' %}

{% block title %}error 404{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}

<div class="row">

    <div class="col-12">

        <div class="row bg-info">
            <h3 class="mx-auto my-4">ERREUR 404 : Page non trouvée</h3>
        </div>

        <div class="row bg-info">
            <p class="mx-auto">
                Désolé, la page que vous cherchez n'existe pas ou plus.
            </p>
        </div>

    </div>

</div>
<div class="row img_404"></div>

{% endblock %}
{% block javascript %}{% endblock %}