{% extends 'base.html.twig' %}

{% block title %}error 404{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}

<div class="row">

    <div class="col-12 img_404 vh-100">

        <div class="col-12 col-sm-4 offset-sm-3 bg-info text-center py-2 my-2">
            <h3>ERREUR 404 : Page non trouvée</h3>
            <p>Désolé, la page que vous cherchez n'existe pas ou plus.</p>
        </div>

   </div>

</div>

{% endblock %}
{% block javascript %}{% endblock %}